.u-section-1 .u-sheet-1 {
  min-height: 1160px;
}

.u-section-1 .u-shape-1 {
  width: 711px;
  height: 711px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 341px 142px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 779px;
  height: 779px;
  background-image: url("images/_K3L3265.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -1002px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 723px;
  height: 723px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -462px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 146px 161px 0 138px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px 66px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: 335px;
    margin-right: 68px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -996px;
  }

  .u-section-1 .u-group-1 {
    width: 661px;
    height: 661px;
    margin-top: -468px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.875rem;
    width: auto;
    margin-top: 96px;
    margin-right: 134px;
    margin-left: 166px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 82px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1144px;
  }

  .u-section-1 .u-shape-1 {
    width: 613px;
    height: 613px;
    margin-top: 50px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-top: -894px;
  }

  .u-section-1 .u-group-1 {
    width: 621px;
    height: 621px;
    margin-top: -295px;
    margin-bottom: -231px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.625rem;
    margin-top: 109px;
    margin-right: 133px;
    margin-left: 165px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-1 .u-shape-1 {
    height: 340px;
    width: 340px;
    margin-top: 219px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: -499px;
  }

  .u-section-1 .u-group-1 {
    width: 676px;
    height: 676px;
    margin: -183px -68px -99px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: 499px;
    margin-top: 147px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 491px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-1 .u-shape-1 {
    height: 233px;
    width: 233px;
    margin-top: 39px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -298px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 556px;
    height: 556px;
    margin: -76px -108px -26px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 110px;
    padding-right: 110px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 81px;
    margin-right: 0;
    margin-left: 16px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}